<nav class="navbar">
	<div class="row nabvar-row">
		<div class="row upper-navbar">
			<div class="col-md-1 back-btn-container">
				<div class="back-btn">&lt;</div>
			</div>
			<div class="col-md-10">
				<div class="col-md-7">
					<div class="col-md-4 header-top">QUESTION</div>
					<div class="col-md-1 add-btn-container">
						<div class="add-btn add-btn-question">+</div>
					</div>
					<div class="col-md-6"></div>				
				</div>
				<div class="col-md-5 sort-btn" data-ng-repeat="comment in singleQuestion.comments | orderBy: 'date' : '-' | limitTo: 1 : 0;">
					Last time discussed &nbsp; {{ comment.date | dateFilter }}
				</div>
			</div>
			<div class="col-md-1"></div>		
		</div>
	</div>
</nav>

<section id="main">
	<div class="row main-row single-main-row">
		<div class="col-md-12 main-container single-main-container">
			<div class="col-md-1"></div>
			<div class="col-md-10 main-content question-page-content">
				<div class="row questions-row question-height question-shadow">
					<div class="col-md-9 questions-main">
						<div class="row questions-header">
							<div class="col-md-2 questions-avatar single-avatar">
								<img class="avatar" data-ng-src="img/av{{singleQuestion.authorId+1}}.jpg"  data-ng-click="openProfile(singleQuestion.authorId)" />
							</div>
							<div class="col-md-10 questions-name">
								<div class="questions-asking"><p class="author-name">Eva</p>&nbsp;&nbsp; IS ASKING:</div>
								<p class="questions-title">{{ singleQuestion.title }}</p>
							</div>
						</div>
						<div class="row questions-details single-details question-txt-side">
							<div class="col-md-2"></div>
							<div class="col-md-10 question-txt">{{ singleQuestion.content }}</div>
						</div>
					</div>					
					<div class="col-md-3 questions-sidebar">
						<div class="row questions-sidebar-top single-sidebar-top">
							<div class="question-follow vertical">{{ singleQuestion.follow ? 'unfollow' : 'follow' }}</div>
						</div>
						<div class="row questions-sidebar-mid single-details votes">
							<div class="col-md-4 votes-amount">{{ singleQuestion.votes >= 0 ? singleQuestion.votes : -singleQuestion.votes}}</div>
							<div class="col-md-5 votes-txt">{{ singleQuestion.votes >= 0 ? 'upvotes' : 'downvotes' }}</div>
							<div class="col-md-3 votes-icon">
								<a data-ng-click="voteQuestionUp()"><i class="glyphicon glyphicon-triangle-top"></i></a>
								<br />
								<a data-ng-click="voteQuestionDown()"><i class="glyphicon glyphicon-triangle-bottom vote"></i></a>
							</div>
						</div>
					</div>					
				</div>
				<div class="comment-btn-container">
					<div class="comment-btn vertical">GIVE new answer</div>
				</div>
				<div class="row question-footer">
					<p class="col-md-4 comment-amount"><span class="answer-amount">{{ singleQuestion.comments.length }}</span> peers already answered <span>Eva</span></p>				
				</div>				
				<div data-ng-repeat="comment in singleQuestion.comments">
					<div class="row questions-row question-height " data-ng-class="comment.conversation ? 'question-shadow reply' : 'comment-shadow'">
						<div class="col-md-9 questions-main">
							<div class="row comment-header">
								<div class="col-md-2 questions-avatar single-avatar comment-avatar">
									<img class="avatar" data-ng-src="img/av{{comment.authorId+1}}.jpg" data-ng-click="openProfile(comment.authorId)" />
								</div>
								<div class="col-md-10 questions-name comment-main" data-ng-class="comment.conversation ? 'reply-main' : ''">
									<div class="questions-asking"><p class="author-name">{{ users[comment.authorId].name }}</p>&nbsp;&nbsp; COMMENTED IT &nbsp;&bull; &nbsp;<span class="comment-date">{{ comment.date | dateFilter }}</span></div>
									<div class="question-txt comment-txt">{{ comment.content }}</div>
								</div>
							</div>
						</div>					
						<div class="col-md-3 questions-sidebar" data-ng-class="comment.conversation ? 'reply-side' : ''">
							<div class="row questions-sidebar-mid single-details votes comment-votes">
								<div class="col-md-4 votes-amount">{{ comment.votes >= 0 ? comment.votes : -comment.votes }}</div>
								<div class="col-md-5 votes-txt">{{ comment.votes >= 0 ? 'upvotes' : 'downvotes' }}</div>
								<div class="col-md-3 votes-icon">
									<a data-ng-click="voteUp(comment.id)"><i class="glyphicon glyphicon-triangle-top"></i></a>
									<br />
									<a data-ng-click="voteDown(comment.id)"><i class="glyphicon glyphicon-triangle-bottom vote"></i></a>
								</div>
							</div>
						</div>					
					</div>
					<div class="comment-btn-container" data-ng-show="comment.conversation === true && comment.last === true">
						<div class="comment-btn vertical">CONTINUE discussion</div>
					</div>
					<div class="comment-btn-container" data-ng-show="comment.conversation === false && comment.last === true">
						<div class="comment-btn vertical">COMMENT</div>
					</div>
					<br data-ng-hide="!comment.last" />
				</div>
				
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
	<div class="row single-question-page-footer"></div>
</section>